name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        id: sample-action
        with:
          name: "Aditya"
      - run: |
            echo 'Generated Password: ${{ steps.sample-action.outputs.token }}'
            echo 'Length: ${{ steps.sample-action.outputs.token }}' | wc -c
