name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate Token
        uses: ./
        id: sample-action
        with:
          name: "Aditya Pujari"
      - name: Output Token
        env:
          TOKEN: ${{ steps.sample-action.outputs.token }}
        run: |
          echo 'Generated Token (action): ${{ steps.sample-action.outputs.token }}'
          echo '${{ steps.sample-action.outputs.token }}' | wc -c
          echo 'Generated Token (env): $TOKEN'
          echo '$TOKEN' | wc -c
