name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        id: sample-action
        with:
          name: "Aditya"
      - uses: actions/github-script@v7
        id: generate-uuid
        with:
          script: |
            const { randomUUID } = require('crypto');
            const uuid = randomUUID();
            core.setSecret(uuid);
            core.setOutput('password', uuid);
      - run: |
          echo 'Generated Token (action): ${{ steps.sample-action.outputs.token }}'
          echo '${{ steps.sample-action.outputs.token }}' | wc -c
          echo 'Generated Token (step): ${{ steps.generate-uuid.outputs.password }}'
          echo '${{ steps.generate-uuid.outputs.password }}' | wc -c
